a.nav-link.active{
    background-color: #dee2e6;
}
.results tr[visible='false']:not(.detail),
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}
.feedback{
    color: red;
    font-weight: bold;
}
#toolbar .wrapper {
    text-align: center;
}